<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
</head>
<body>
<form action='xxxx' method='GET'>
姓
<input type="text" name="firstname"> </input>
<br>
名
<input type="text" name="lasttname"> </input>

<br>
<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
<br>
<input type="submit" value="Submit">
</form>

</body>
</html>


