<!-- render_field -->
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


<!-- 
在模板这边，如果您将表单传递给模板，您可以很容易地渲染他们。
参看如下代码， 您就会发现这有多么简单了。
WTForms 已经为我们完成了一半的表单生成工作。
更棒的是，我们可以编写一个宏来渲染表单的字段，让这个字段包含一个标签，
如果存在验证错误，则列出列表来。

以下是一个使用这种宏的 _formhelpers.html 模板的例子:

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
这些宏接受一对键值对，WTForms 的字段函数接收这个宏然后为我们渲染他们。 
键值对参数将会被转化为 HTML 属性，
所以在这个例子里，您可以调用 render_field(form.username,class="username") 
来将一个类添加到这个输入框元素中。
请注意 WTForms 返回标准 Python unicode 字符串，
所以我们使用 |safe 告诉 Jinjan2 这些数据已经是经过 HTML 过滤处理的了。

以下是 register.html 模板，它对应于上面我们使用过的函数，同时也利用了 _formhelpers.html 模板:

{% from "_formhelpers.html" import render_field %}
<form method=post action="/register">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <p><input type=submit value=Register>
</form>
-->